.DS_Store
out/
.idea/.stickyStorage
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/Papyrus.iml
.idea/workspace.xml
.idea/uiDesigner.xml
Papyrus.iml


\.idea/libraries/org_junit_contrib_junit_theories_4_12\.xml

\.idea/libraries/org_mockito_mockito_all_1_9_0\.xml
