.generalBackground{
    -fx-background-color: #2b3848;
}

Button, MenuButton{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
    -fx-background-color: #364657;
    -fx-text-fill: whitesmoke;
    -fx-font: 13px sans-serif;
}
MenuButton .label{
    -fx-text-fill: whitesmoke;
}

.menu-item .label{
    -fx-text-fill: #364657;
}

TextArea {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font: 18px sans-serif;
}

TextArea .content {
    -fx-background-color: #f2f3e8;
}